<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" href="/css/profile.css">
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>


      <h2 class="userName"><%= `${user.email}'s profile` %></h2>

      <hr>

      <h3 class="postsHeader"> Latest Posts</h3>

      <ul class="list-unstyled">

 
        <% if(posts) { %>
          <% posts.forEach((post) => { %>
 
            <li>
              <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>" class="posts">
                <%= post.title %>
              </a>
            </li>
          <% }) %>
        <% } %>
      </ul>
      <hr>

      <h3 class="commentsHeader"> Latest Comments</h3>

      <ul class="list-unstyled">

 
        <% if(comments) { %>
          <% comments.forEach((comment) => { %>


            <li>
              <span class="italics">Post: </span><a href="/topics/<%= comment.Post.topicId %>/posts/<%= comment.Post.id %>" class="comments">
                <%= comment.Post.title %>
              </a>
              <p><span class="italics">Comment:</span> <%= comment.body %></p>
            </li>
            <hr>
          <% }) %>
        <% } %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>